/* .list > a {
  margin: 0 auto;
  padding: 0;
  width: 45%;
}

.card-image {
  height: 190px;
  background-color: var(--background-card);
  border: solid 2px var(--secondary-color);
  border-bottom: solid 7px var(--secondary-color);
  border-right: solid 7px var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--background-color);
}

.card-image > img {
  height: 100px;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-image > div {
  margin: 2px;
  width: 100%;
} */
