.look-page {
  width: 100vw;
}
.main-look {
  height: 650px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-button-look {
  margin: 15px 40px;
  height: 60px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  border: solid 7px var(--third-color);
  border-bottom: solid 10px var(--primary-color);
  border-right: solid 10px var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button-look:active {
  background-color: var(--primary-color);
  border: solid 7px var(--secondary-color);
  border-bottom: solid 10px var(--third-color);
  border-right: solid 10px var(--third-color);
}

.button-look {
  background-color: transparent;
  color: var(--background-card);
  font-size: 20px;
  font-weight: 600;
}
