.main-rent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rent-form {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.label-form {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  color: var(--third-color);
  margin: 0px 40px;
}

#disponibility-label > p {
  font-weight: bold;
}

#disponibility-label {
  font-weight: lighter;
}

#end-label {
  margin-top: 7px;
  font-weight: lighter;
}

#disponibility-box {
  display: block;
}

#disponibility-box > div {
  display: inline-block;
  width: 50%;
}

.date-label input {
  width: 90%;
}
