.main-rent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rent-form {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 40px;
}

.label-form {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: var(--third-color);
  font-weight: bold;
}
