.burger {
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 15px;
  background-color: transparent;
  border: transparent;
}

.burger-bar {
  width: 2em;
  margin-top: 4px;
  height: 0.3em;
  background-color: var(--primary-color);
  border-radius: 0.5em;
  z-index: 3;
}

.menu {
  width: 60%;
  height: 50%;
  padding: 50px 0;
  background-color: var(--third-color);
  border-radius: 10px;
  position: absolute;
  top: 0;
  z-index: 1;
  text-align: left;
}

.classname-link {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.link {
  margin: 15px 0;
  font-family: var(--font-title);
}

.link > a {
  font-size: 25px;
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
  font-family: var(--text-font);
}

.hidden {
  display: none;
}

.visible {
  display: inherit;
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.8em, 0.2em);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.65em, 0em);
  transition: ease-out 0.5s;
}
