.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar > a {
  font-family: var(--font-text);
  color: var(--background-card);
  font-weight: 600;
  margin-right: 15px;
}
