.landing-page {
  display: flex;
  flex-direction: column;
}

.nav-landing {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-landing > a {
  margin: 20px 20px 0 0;
  color: var(--background-card);
  text-decoration: none;
  font-weight: 600;
}

.top-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
}

.logo-landing {
  margin: 20px 0;
  height: 300px;
  padding: 20px 60px;
}

.buttons {
  margin: 15px 0;
  padding: 30px 50px;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  font-size: 20px;
  border: solid 2px var(--primary-color);
  border-bottom: solid 10px var(--primary-color);
  border-right: solid 10px var(--primary-color);
  color: var(--background-card);
  font-weight: 600;
}

.buttons:active {
  background-color: var(--primary-color);
  border: solid 2px var(--secondary-color);
  border-bottom: solid 10px var(--secondary-color);
  border-right: solid 10px var(--secondary-color);
}

.buttons > a {
  text-decoration: none;
  color: var(--background-card);
}

.landing-page > h3 {
  font-family: var(--font-title);
  font-size: 45px;
  color: var(--background-card);
  margin: 0 auto;
  width: 260px;
  margin: 40px auto 0;
}

.bottom-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-card);
  border-radius: var(--border-radius);
  padding: 20px;
  margin: 20px 50px 40px;
}

.bottom-landing > p {
  margin: 20px 10px;
  color: var(--color-text);
}

.button {
  margin: 15px;
  padding: 20px;
  font-weight: 600;
  border-radius: var(--border-radius);
  background-color: var(--background-card);
  border: solid 1px var(--secondary-color);
  border-bottom: solid 6px var(--secondary-color);
  border-right: solid 6px var(--secondary-color);
}

.button:active {
  background-color: var(--secondary-color);
  border: solid 1px var(--primary-color);
  border-bottom: solid 6px var(--primary-color);
  border-right: solid 6px var(--primary-color);
  color: var(--background-card);
}

.button > a {
  text-decoration: none;
  color: var(--color-text);
}

.button > a:active {
  color: var(--background-card);
}
