@font-face {
  font-family: "dolphins";
  src: url("./assets/typo/pimp-my-ride/Dolphins.woff") format("woff");
}

:root {
  --background-color: #40807a;
  --background-card: #fcfcfc;
  --color-text: rgb(20, 20, 20);
  --primary-color: #ff7c68;
  --secondary-color: #ffc25c;
  --third-color: #fff6bd;
  --font-title: "dolphins";
  --font-text: Arial, Helvetica, sans-serif;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}
