@font-face {
  font-family: "dolphins";
  src: url("./assets/typo/pimp-my-ride/Dolphins.woff") format("woff");
}

@font-face {
  font-family: "robaga-rounded";
  src: url("./assets/typo/robaga-rounded/Robaga_Rounded_Regular.otf")
    format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "robaga-rounded";
  src: url("./assets/typo/robaga-rounded/Robaga_Rounded_Light.otf")
    format("opentype");
  font-weight: lighter;
}

@font-face {
  font-family: "robaga-rounded";
  src: url("./assets/typo/robaga-rounded/Robaga_Rounded_Bold.otf")
    format("opentype");
  font-weight: bold;
}

:root {
  --background-color: #4e807b;
  --background-card: #fcfcfc;
  --color-text: rgb(20, 20, 20);
  --primary-color: #ff7c68;
  --secondary-color: #ffc25c;
  --third-color: #fff6bd;
  --font-title: "dolphins";
  --font-text: "robaga-rounded";
  --border-radius: 20px;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  font-family: var(--font-text);
  list-style: none;
  text-decoration: none;
  background-color: var(--background-color);
  min-height: 90%;
  position: relative;
}

blockquote,
p,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

button,
a {
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.title-page {
  font-family: var(--font-title);
  font-size: 45px;
  color: var(--third-color);
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
